.feed-bar {
  width: 60%;
  margin: 0 auto;
  background-color: #325e7546;
  padding: 10px 20px;
  border-radius: 20px;
}

.create-post-bottum-container {
  text-align: right;
}

input[type="post"]{
    /* border-radius: 10px; */
    width: 90%;
}
.create-post-btn{
    background-color: #245985b8;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 20px;
    width: 10%;
    text-align: center;
}