/* .button{
    background-color: #2ea132;
    font-size: 16px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
} */