.background-image {
    background-image: url("./loginPhoto.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Apply blur effect */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }