.home-page {
  /* margin: 0 auto; */
}
.home-logo{
  background-image: url("/src/Pages/home/home-photo.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Apply blur effect */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.home-page-container {
  display: flex;
  justify-content: space-between;
}
