.post {
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #325e7546;
  border-radius: 20px;

}

.user-name-container {
  color: aliceblue;
  text-align: right;
  
}

.buttom-like-container {
    text-align: right;

  
}
/* .button{
    text-align: right;
} */
/* .textUserName{
    text-light
} */