.post {
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #325e7546;
  border-radius: 20px;

}

.user-name-container {
  color: aliceblue;
  text-align: right;
  
}
.textUserName{
    color: white;
}

.buttom-like-container {
    text-align: right;

  
}
.post-btn{
    background-color: #245985b8;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 20px;
    width: 10%;
    text-align: center;
}
/* .button{
    text-align: right;
} */
/* .textUserName{
    text-light
} */