.feed {
  background-color: none;
  width: 70%;

}

.feed-container {

}

.create-post-container {
    
  margin: 0 auto;
}

.post-box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
  
}
