.team-pic-teams{
text-align: center;
}
.team-pic-teams button.selected {
  border: 2px solid rgb(0, 255, 21); /* Add your desired border style */
  /* Add any other styles to indicate the selected state */
  background: none;
}
button[type="button"]{
  background: none;
}

